body{
    /*background-color: aquamarine;*/
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1{
    text-align: center;
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header, footer{
    background: linear-gradient(to bottom right, rgb(56, 3, 66), rgb(209, 13, 13));
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor_global{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100%;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
    
}

.contenedor1{
    width: 80%;
    background: linear-gradient(to bottom left, rgb(56, 3, 66), white);
}

.contenedor2{
    width: 33%;
    background: linear-gradient(to bottom right, rgb(37, 2, 44), white);
}

.contenedor1 > article {
    text-align: justify;
    padding: 1.5em;
    margin: 1em;
    color:white;
    border-radius: 25%;
    font-size: 20px;
    border: 3px solid rgb(9, 255, 0);
    background: linear-gradient(to bottom right, rgb(8, 8, 44), rgb(78, 11, 87));
}

.contenedor1 > article:hover{
    background-color: rgb(29, 4, 138);
    color: lawngreen;
}

.contenedor2 > article {
    text-align: justify;
    padding: 1.5em;
    margin: 2em;
    background-color:cornflowerblue;
    border:6px groove;
}

.contenedor2 > article:hover{
    color:black;
    font-size: 14pt;
    background: linear-gradient(to bottom right, rgb(84, 8, 99), white);
}


